.btn-btn-info {
    width: 45px;
        height: 30px;
        border-radius: 80%;
        /* This makes the button round */
        background-color: #87A96B;
        ;
        color: white;
        font-size: 10px;
        /* Text color */
        border: none;
        cursor: pointer;
}

.btn-btn-info:hover {
background-color: #ACE1AF;}


.btn-btn-danger {
        width: 45px;
            /* Adjust the width and height as needed */
            height: 30px;
            border-radius: 80%;
            /* This makes the button round */
            background-color: #A31F34;
            color: white;
            /* Text color */
            font-size: 10px;
            border: none;
            cursor: pointer;
            margin-left: 5px;
}

.btn-btn-danger:hover {
background-color: #c2463d;}

.p {
    position: absolute;
    top: 0px;
    right: 0px;
    color: orangered;
}

thead{
    background-color:aliceblue
}


.clientsInfo-item {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.selected-company {
    background-color: #e0e0e0;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.text-right{
    margin-right: 75px;
}

.link-color{
    color: blue;
}

.fa-sort-asc{
    color:  blue;
}

.search-tab{
    margin-left: 85px;
    margin-bottom: 10px;
}

.pagination{
    margin-left: 85px;
    border:none;
    color:darkgreen
}